#google-map {
  height: 50vh;
  width: 100%;
}

#location {
  margin: 10px;
  text-align: center;
}

.col-center {
  margin: 0 auto;
  float: none;
}

.map-wrapper {
  box-shadow: 5px 5px 10px rgba(28, 36, 103, 0.5);
}

.header {
  text-align: center;
}
